In [74]:
import pandas as pd
import numpy as np

In [75]:
movies_data = pd.read_csv(r'C:\Users\NQ10004925\Downloads\ml-20m\movies.csv')
movies_data.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [76]:
rating_data = pd.read_csv(r'C:\Users\NQ10004925\Downloads\ml-20m\ratings.csv')
rating_data.head()

   userId  movieId  rating   timestamp
0       1        2     3.5  1112486027
1       1       29     3.5  1112484676
2       1       32     3.5  1112484819
3       1       47     3.5  1112484727
4       1       50     3.5  1112484580

In [77]:
combined_data = pd.merge(movies_data,rating_data, on='movieId')

In [78]:
combined_data = combined_data[:100000]

In [79]:
rating = pd.DataFrame(combined_data.groupby('title')['rating'].mean())

In [80]:
rating['num of rating'] = pd.DataFrame(combined_data.groupby('title')['rating'].count())

In [81]:
rating.sort_values('num of rating',ascending = False).head()

                                      rating  num of rating
title
Toy Story (1995)                    3.921240          49695
Jumanji (1995)                      3.211977          22243
Grumpier Old Men (1995)             3.151040          12735
Father of the Bride Part II (1995)  3.064592          12161
Waiting to Exhale (1995)            2.861393           2756

In [82]:
moviemet = combined_data.pivot_table(index = 'userId',columns = 'title', values = 'rating')
moviemet.head()

title,Father of the Bride Part II (1995),Grumpier Old Men (1995),Heat (1995),Jumanji (1995),Toy Story (1995),Waiting to Exhale (1995)
userId,,,,,,
1,NaN,NaN,NaN,3.5,NaN,NaN
2,NaN,4.0,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,4.0,NaN
4,NaN,NaN,3.0,NaN,NaN,NaN
5,NaN,NaN,NaN,3.0,NaN,NaN

In [83]:
corr_data = moviemet['Jumanji (1995)']
related_movie = moviemet.corrwith(corr_data) 
related_movie.head()

title
Father of the Bride Part II (1995)    0.427719
Grumpier Old Men (1995)               0.354642
Heat (1995)                           0.219511
Jumanji (1995)                        1.000000
Toy Story (1995)                      0.314554
dtype: float64

In [84]:
df_rel_movies = pd.DataFrame(related_movie,columns = ['Corr'])
df_rel_movies.head()

                                        Corr
title
Father of the Bride Part II (1995)  0.427719
Grumpier Old Men (1995)             0.354642
Heat (1995)                         0.219511
Jumanji (1995)                      1.000000
Toy Story (1995)                    0.314554

In [85]:
df_rel_movies = pd.merge(df_rel_movies,rating['num of rating'], on = 'title')
df_rel_movies.head()

                                        Corr  num of rating
title
Father of the Bride Part II (1995)  0.427719          12161
Grumpier Old Men (1995)             0.354642          12735
Heat (1995)                         0.219511            410
Jumanji (1995)                      1.000000          22243
Toy Story (1995)                    0.314554          49695

In [87]:
df_rel_movies = df_rel_movies[df_rel_movies['num of rating'] > 100].sort_values('Corr',ascending = False).head()

                                        Corr  num of rating
title
Jumanji (1995)                      1.000000          22243
Father of the Bride Part II (1995)  0.427719          12161
Grumpier Old Men (1995)             0.354642          12735
Toy Story (1995)                    0.314554          49695
Waiting to Exhale (1995)            0.311228           2756

In [98]:
print(df_rel_movies.iloc[1:7,0])

title
Grumpier Old Men (1995)     0.354642
Heat (1995)                 0.219511
Jumanji (1995)              1.000000
Toy Story (1995)            0.314554
Waiting to Exhale (1995)    0.311228
Name: Corr, dtype: float64